/* Your additional CSS for navbar text color */
.navbar-dark .navbar-nav .nav-link {
    color: #ffffff; /* Your preferred font color for navbar links */
    animation: appearFromDown 7s;
  }
.landingline{
    background-color: rgb(33, 33, 32);
    position: relative;
    width: 80%;
    border: solid 3px bisque;
    box-shadow: 12px 12px rgb(109, 187, 193);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 10px;
    border-radius: 20px;
    margin-top: 40px;
    text-align: center;
    color: rgb(187, 228, 245);
    animation: text 9s;
    
    


}  
/* Style the service tabs */
.service-tabs {
    overflow: hidden;
    border: 1px solid #cccccc00;
    background-color: #991ef7;
    text-align: center; /* Center align the text */
  }
  
  /* Style the service buttons */
  .service-tablinks {
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: background-color 0.3s;
    display: inline-block; /* Display tabs in a row */
    text-align: center; /* Center align the tab text */
  }
  
  /* Change background color of service buttons on hover */
  .service-tablinks:hover {
    background-color: #6043be;
  }
  
  /* Create an active/current service-tablink class */
  .service-tablinks.active {
    background-color: #fd3a8b;
  }
  
  /* Style the service tab content */
  .service-tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
    text-align: center; /* Center align the content */
  }
  
  /* Style the list items as arrow points */
  .service-tabcontent ul {
    list-style-type: none;
    text-align: center; /* Center align the bullet points */
    padding-left: 0; /* Remove default padding */
  }
  
  .service-tabcontent ul li:before {
    content: "\2192"; /* Unicode for right arrow (→) */
    padding: 0 5px; /* Space between arrow and text */
  }
  .blackbackgroundcontainer{
    margin: auto;
    display: block;
    border: solid 5px rgb(69, 57, 57);
    width: fit-content;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    box-shadow: 9px 9px rgb(0, 0, 0) ;
    padding: 8px;
    border-radius: 15px;
    background-color: rgb(44, 41, 37);
    color: azure;
   }  
   .card{
    margin:10px;
    margin-top: 10px;
    transition: all 1s ease-in-out;
    justify-content: center;
    animation: appearFromLeft 2s;
    
    
   }
   .card-testimonials{
    display: inline-flex;
    justify-content: center;
   }
   .card:hover{
    box-shadow: 8px 8px whitesmoke;
   }
   #testimonials,#collab{
    margin: 20px;
    margin-top: 20px;
    text-align: center;
    font-size: larger;
   }
   #testheadline{
    background-color: #991ef7 !important;
   }
   a{
    text-decoration: none;
   }
   a:hover{
    text-decoration: solid;
   }
   .navbar a:hover{
    background-color: black;

   }
   #collabcard{
    transition: all 1s ease-in-out;
   }
   #collabcard:hover{
    transform: scale(1.05);
   }
   body{
    animation: appearFromDown 5s;
  }
  #projects{
    background-color: rgb(17, 13, 10);
    box-shadow: -9px 9px rgb(0, 0, 0) ;

  }
  footer {
    position: relative;
    margin-top: 7vh;  
    
   bottom: 0;
   left: 0;
   width: 100%;
   
    width:100%;
    clear: both;
    justify-content: end;
    align-items: end;
    
    margin-bottom: 0px;
    
    
    
    
  }
  
  .containlinkicon{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    
   }
  .footerlink{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 5px;
    margin-left: 3rem;
    
  }
  .footerlink a{
    text-decoration: none;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    display: flex;
    color:#ffffff;
    background-color: #991ef7;
    padding: 5px;
    transition: all 1s ease-in-out;
    border: solid 2px #f8f8f8;
    border-radius: 7px;
    text-align: center;
    width: fit-content;
    height: fit-content;
    clear: none;
    
    
    

  }
  .footericons {
    
    position: relative;
    float: right;
    /* justify-content: right; */
    align-items: end;
    margin: 5px;
    padding: 5px;
    margin-right: 10px;
    
    display: flex;
  justify-content: end;
  

    
    
  }
  .footericons a{
    position: relative;
    margin: 5px;
    padding: 5px;
    


  }
  .footericons img{
    width: 30px !important;
    margin: 3px;
  }
  .footericons a:hover img{
    
    transform: translateX(0px);
    transform: translateY(0px);
    transform: scale(1.2);
    clear: both;
    /* background-color: #ffffff; */
    border-radius: 8px;
    
  }
  .footerlink a:hover{
    background-color:#03101d;
    color: bisque;
    
  }
  footer a{
    text-decoration: none;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    display: inline-block;
    color: aliceblue;
    padding: 5px;
    
    padding-bottom: 10px;
  }
  .footnote{
    display: block;
    justify-content: center;
    align-items: center;
    align-self: center;
    text-align: center;
    
  }
  .footnote a{
    transition: all 1s ease-in-out;
  }
  .foottext{
    display: inline-block;
  }
  .footnote a:hover{
    color: #e3cc8d;
    transform: translateY(-7px);
    border: solid 1px rgb(28, 0, 38);
    border-radius: 5px;
    padding: 5px;
  }
 .lastbreak{
  line-height: 2px;
 }
 .afterloadland{
  position: relative;
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
  
 }
 
 

.loader-container {
  display: flex;
  align-items: flex-end;
}

.bar {
  height: 0;
  width: 40px;
  margin: 0 5px;
  background-color: #3498db;
  animation: barAnimation 1s linear forwards;
}
.bar1{
    background-color: #3c92e7;
  animation: barAnimation1 1s linear forwards; 
}

.bar2 {
  background-color: #e74c3c;
  animation: barAnimation2 1s linear forwards;
}

.bar3 {
  background-color: #2ecc71;
  animation: barAnimation3 1s linear forwards;
}
#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: fit-content;
  padding: 20px;
  height: 120px;
  margin: -76px 0 0 -76px;
  
 
}
#afterloadland {
  display: none;
  text-align: center;
}


@keyframes barAnimation {
  0% { height: 0; }
  100% { height: 80px; }
}
@keyframes barAnimation1 {
  0% { height: 0; }
  100% { height: 50px; }
}

@keyframes barAnimation2 {
  0% { height: 0; }
  100% { height: 80px; }
}

@keyframes barAnimation3 {
  0% { height: 0; }
  100% { height: 100px; }
}

   @keyframes appearFromDown {
    0%{top:500px}
    25%{top:370px}
    75%{top:128px}
    100%{top:0px}
    
   }
   @keyframes appearFromLeft {
    from{right:75px}
    to{right:0px}
    
   }
   @keyframes text{
    0%{color: rgb(249, 158, 158);}
    25%{color: rgb(240, 249, 224);}
    50%{color:rgb(181, 245, 211)}
    100%{color:rgb(187, 228, 245) }
   }
   
   @media only screen and (max-width: 900px) {
    header {
      width: 100%;
    }
    .containlinkicon{
      
      display: flex;
      flex-wrap: wrap;
      flex-flow: column;
    }
    .footerlink{
      text-align: center;
      margin: auto;
      justify-content: center;
      align-items: center;
      margin-top: 5px;
    }
    .footericons{
      justify-content: center;
      align-items: center;
    }
  }
  
   